:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --white: #fff;
  
  /* Neutral */

  --Dark-gray: hsl(0, 0%, 59%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { 
  width: 100vh;
  position: relative;
  height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
  overflow: hidden;
  background-color: var(--Dark-cyan);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

body::before {
  content: url("images/bg-pattern-top.svg");
  position: absolute;
  left: -59%;
  top: -77%;
  z-index: -1;
  transform: rotate(0deg);
}

body::after {
  content: url("images/bg-pattern-bottom.svg");
  position: absolute;
  top: 51%;
  left: 100%;
  transform: rotate(39deg);
  z-index: -1;
}

.center {
  width: 22rem;
  height: 24rem;
  background-color: var(--white);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.bg-pattern {
  background-image: url('images/bg-pattern-card.svg');
  height: 35%;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2 1 auto;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2 1 auto;
  justify-content: space-between;
  gap: 2rem;
}

.img-box {
  position: relative;
  height: fit-content;
}

.img-box img {
  border-radius: 50%;
  border: 5px solid var(--white);
  position: absolute;
  top: -50%;
  left: -50%;
  transform: translate(-50%, -50%);
}

.info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2 1 auto;
  gap: .7rem;
}

h3 {
  color: var(--Very-dark-desaturated-blue);
}

.info-box h3 span {
  color: var(--Dark-gray);
  font-weight: 400;
  padding-left: .3rem;
}

p {
  color: var(--Dark-gray);
}


.stats {
  display: flex;
  width: 100%;
  justify-content: space-around;
  justify-content: space-around;
  flex: 1 1 auto;
  align-items: center;
  border-top: 1px solid var(--Dark-gray);
}

.info-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .2rem;
}

